<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        body {
            background-image: url('https://previews.123rf.com/images/yuzach/yuzach1407/yuzach140700039/30017457-back-to-school-seamless-pattern-on-a-blackboard-background-with-dry-chalk-traces.jpg');
            background-repeat:initial;
        }
        :root{
            font-size: 15px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.0.0.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="header col-12 mt-4">
            <ul class="row d-flex justify-content-end nav" style="height: 40px;font-size: 16px;">
                <li class="nav-item">
                    <button type="button" id="setLineChart" class="btn btn-primary">
                        <a href="/list" style="color: white;">Danh Sách Trạm Đo</a>
                    </button>
                </li>
                <li class="nav-item ml-3">
                    <button type="button" id="setLineChart" class="btn btn-primary">
                        <a href="/dashboard" style="color: white;">Biểu đồ đường</a>
                    </button>
                </li>
                <li class="nav-item ml-3">
                    <button type="button" id="setColumnChart" class="btn btn-primary">
                        <a href="/dashboard1" style="color: white;">Biểu đồ cột</a>
                    </button>
                </li>
                <li class="nav-item ml-4 mr-1">
                    <button type="button" id="setColumnChart" class="btn btn-primary">
                        <a href="/map" style="color: white;">Vị trí</a>
                </li>
                <li class="nav-item ml-4 mr-5">
                    <button type="button" id="setColumnChart" class="btn btn-primary">
                        <a href="/users/logout" style="color: white;">Đăng xuất</a>
                </li>
            </ul>
            
        </div>   
        <!--chart-->
        <style>
            th {
            background-color: #04AA6D;
            color: white;
            }
            tr {background-color: #f2f2f2;}
            tr:hover {background-color: lightskyblue;}
            th, td {
            padding: 15px;
            text-align: left;
            }
            .bd{
                height: 350px;
                margin: 20px;
            }
        </style>
        <div class="main col-12" style="margin: 50px auto;">
            <div class="row col-12 d-flex justify-content-around">
                <table class="col-6" style="font-size: 16px; margin: 30px 0px;">
                    <tr align="center">
                        <th>Tên Chất khí</th>
                        <th>Nồng độ</th>
                        <th>Mức độ an toàn</th>
                    </tr>
                    <tr>
                        <td align="center">CO2</td>
                        <td align="center">
                            <span id="co2"></span>
                        </td>
                        <td align="center">
                            <span id="alCO2"></span>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">CO</td>
                        <td align="center">
                            <span id="co"></span>
                        </td>
                        <td align="center">
                            <span id="alCO"></span>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">NH4</td>
                        <td align="center">
                            <span id="nh4"></span>
                        </td>
                        <td align="center">
                            <span id="alNH4"></span>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">Tolueno</td>
                        <td align="center">
                            <span id="tolueno"></span>
                        </td>
                        <td align="center">
                            <span id="alTolueno"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="d-flex justify-content-around mt-4">
                <div id="chart" class="bd col-5">
                </div>
                <div id='chart1' class="bd col-5">
                </div>
            </div>
            <div class="d-flex justify-content-around mt-4">
                <div id='chart2' class="bd col-5">
                </div>
                <div id='chart3' class="bd col-5">
                </div>
            </div>
        </div>
    </div>
    <script>
        // Chart 0
        var typeChart = 'bar';

        Plotly.newPlot('chart',[{
            y:[],
            type:typeChart,
            line: {
                color: 'rgb(128, 0, 128)',
            }
        }]);
        var cnt = 0;
        setInterval(function(){
            var socket = io("http://localhost:3000");
            socket.on('Server-sent-dataNH4', function(dataNH4){
            Plotly.extendTraces('chart',{ y:[[dataNH4.items[0]]]}, [0]);
            $(document).ready(function() {
                $("#nh4").text(dataNH4.items[0]);
                if(dataNH4.items[0] >= 5) {
                    $("#alNH4").text("Nguy hiểm");
                }
                if(dataNH4.items[0] < 5) {
                    $("#alNH4").text("Tốt");
                }
            });
            cnt++;
            if(cnt > 5) {
                Plotly.relayout('chart',{
                    title: "NH4",
                });
            }
            if(cnt > 50) {
                Plotly.relayout('chart',{
                    xaxis: {
                        range: [cnt-50,cnt]
                    },
                    title: "NH4",
                });
            };
        })
        },2000);

        // Chart 1
        Plotly.newPlot('chart1',[{
            y:[],
            type:typeChart,
            line: {
                color: 'rgb(128, 0, 128)',
            }
        }]);
        var cnt1 = 0;
        setInterval(function(){
            var socket = io("http://localhost:3000");
            
            socket.on('Server-sent-dataCO', function(dataCO) {
            Plotly.extendTraces('chart1',{ y:[[dataCO.items[0]]]}, [0]);
            $(document).ready(function(){
                $("#co").text(dataCO.items[0]);
                if(dataCO.items[0] >= 5) {
                    $("#alCO").text("Nguy hiểm");
                }
                if(dataCO.items[0] < 5) {
                    $("#alCO").text("Tốt");
                }
            });
            cnt1++;
            if(cnt1 > 5) {
                Plotly.relayout('chart1',{
                    title: "CO",
                });
            }
            if(cnt1 > 50) {
                Plotly.relayout('chart1',{
                    xaxis: {
                        range: [cnt1-50,cnt1]
                    }
                });
            };
        })
        },2000);

        // Chart 2
        Plotly.newPlot('chart2',[{
            y:[],
            type:typeChart,
            line: {
                color: 'rgb(128, 0, 128)',
            }
        }]);
        var cnt2 = 0;
        setInterval(function(){
            var socket = io("http://localhost:3000");
            
            socket.on('Server-sent-dataCO2', function(dataCO2){
            Plotly.extendTraces('chart2',{ y:[[dataCO2.items[0]]]}, [0]);
            $(document).ready(function(){
                $("#co2").text(dataCO2.items[0]);
                if(dataCO2.items[0] >= 5) {
                    $("#alCO2").text("Nguy hiểm");
                }
                if(dataCO2.items[0] < 5) {
                    $("#alCO2").text("Tốt");
                }
            });
            cnt2++;
            if(cnt2 > 5) {
                Plotly.relayout('chart2',{
                    title: "CO2",
                });
            }
            if(cnt2 > 50) {
                Plotly.relayout('chart2',{
                    xaxis: {
                        range: [cnt2-50,cnt2]
                    }
                });
            };
        })
        },2000);

        // Chart 3
        Plotly.newPlot('chart3',[{
            y:[],
            type:typeChart,
            line: {
                color: 'rgb(128, 0, 128)',
            }
        }]);
        var cnt3 = 0;
        setInterval(function(){
            var socket = io("http://localhost:3000");
            
            socket.on('Server-sent-dataTolueno', function(dataTolueno){   
            Plotly.extendTraces('chart3',{ y:[[dataTolueno.items[0]]]}, [0]);
            $(document).ready(function(){
                $("#tolueno").text(dataTolueno.items[0]);
                if(dataTolueno.items[0] >= 5) {
                    $("#alTolueno").text("Nguy hiểm");
                }
                if(dataTolueno.items[0] < 5) {
                    $("#alTolueno").text("Tốt");
                }
            });
            cnt3++;
            if(cnt > 5) {
                Plotly.relayout('chart3',{
                    title: "Toluen",
                });
            }
            if(cnt3 > 50) {
                Plotly.relayout('chart3',{
                    xaxis: {
                        range: [cnt3-50,cnt3]
                    }
                });
            };
        })
        },2000);
    </script>
</body>
<footer>
    <div style="position: absolute;bottom: -1050px;left: 0;right: 0;">
        <div class="footer d-flex justify-content-center bg-secondary" style="height: 100px;border-top: 2px solid #ccc;">
            <div style="margin: auto;">
                <h3>Air Monitoring</h3>
            </div>
        </div>
    </div>
</footer>
</html>
