<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        body {
            background-image: url('https://moigioicanhan.com/wp-content/uploads/2020/10/smart-city-la-gi-1.jpg');
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.0.0.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="header col-12 mt-4">
            <ul class="row d-flex justify-content-end nav" style="height: 40px;">
                <li class="nav-item">
                    <button type="button" class="btn btn-primary">Home</button>
                </li>
                <li class="nav-item ml-3">
                    <button type="button" class="btn btn-primary">Line Chart</button>
                </li>
                <li class="nav-item ml-3">
                    <button type="button" class="btn btn-primary">Column Chart</button>
                </li>
                <li class="nav-item ml-4 mr-5">
                    <button type="button" class="btn">
                        <a href="/users/logout">Đăng Xuất</a>
                    </button>
                </li>
            </ul>
            
        </div>   
        <!--chart-->
        <div class="main col-12">
            <!-- <div class="row col-12">
                <table border="1" class="col-6">
                    <tr align="center">
                        <th>Tên Chất khí</th>
                        <th>Nồng độ</th>
                    </tr>
                    <tr>
                        <td align="center">CO2</td>
                        <td align="center">
                            <span id="co2"></span>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">CO</td>
                        <td align="center">
                            <span id="co"></span>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">NH4</td>
                        <td align="center">
                            <span id="nh4"></span>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">Tolueno</td>
                        <td align="center">
                            <span id="tolueno"></span>
                        </td>
                    </tr>
                </table>
            </div> -->
            <div class="d-flex justify-content-around mt-4">
                <div id="chart" class="col-5">
                </div>
                <div id='chart1' class="col-5">
                </div>
            </div>
            <div class="d-flex justify-content-around mt-4">
                <div id='chart2' class="col-5">
                </div>
                <div id='chart3' class="col-5">
                </div>
            </div>
        </div>
        <div class="footer col-12 d-flex justify-content-center bg-secondary mt-4 mb-3" style="height: 50px;">
            <div>
                <h3>Air Quantity</h3>
            </div>
        </div>
    </div>
    <script>
        // Chart 0
        Plotly.newPlot('chart',[{
            y:[],
            type:'bar',
            line: {
                color: 'rgb(128, 0, 128)',
            }
        }]);
        var cnt = 0;
        setInterval(function(){
            var socket = io("http://localhost:3000");
            socket.on('Server-sent-dataNH4', function(dataNH4){
            Plotly.extendTraces('chart',{ y:[[dataNH4.items[11]]]}, [0]);
            $(document).ready(function() {
                $("#nh4").text(dataNH4.items[11]);
            });
            cnt++;
            if(cnt > 50) {
                Plotly.relayout('chart',{
                    xaxis: {
                        range: [cnt-50,cnt]
                    }
                });
            };
        })
        },2000);

        // Chart 1
        Plotly.newPlot('chart1',[{
            y:[],
            type:'line',
            line: {
                color: 'rgb(128, 0, 128)',
            }
        }]);
        var cnt1 = 0;
        setInterval(function(){
            var socket = io("http://localhost:3000");
            
            socket.on('Server-sent-dataCO', function(dataCO) {
            Plotly.extendTraces('chart1',{ y:[[dataCO.items[11]]]}, [0]);
            $(document).ready(function(){
                $("#co").text(dataCO.items[11]);
                });
            cnt1++;
            if(cnt1 > 50) {
                Plotly.relayout('chart1',{
                    xaxis: {
                        range: [cnt1-50,cnt1]
                    }
                });
            };
        })
        },2000);

        // Chart 2
        Plotly.newPlot('chart2',[{
            y:[],
            type:'line',
            line: {
                color: 'rgb(128, 0, 128)',
            }
        }]);
        var cnt2 = 0;
        setInterval(function(){
            var socket = io("http://localhost:3000");
            
            socket.on('Server-sent-dataCO2', function(dataCO2){
            Plotly.extendTraces('chart2',{ y:[[dataCO2.items[11]]]}, [0]);
            $(document).ready(function(){
                $("#co2").text(dataCO2.items[11]);
            });
            cnt2++;
            if(cnt2 > 50) {
                Plotly.relayout('chart2',{
                    xaxis: {
                        range: [cnt2-50,cnt2]
                    }
                });
            };
        })
        },2000);

        // Chart 3
        Plotly.newPlot('chart3',[{
            y:[],
            type:'line',
            line: {
                color: 'rgb(128, 0, 128)',
            }
        }]);
        var cnt3 = 0;
        setInterval(function(){
            var socket = io("http://localhost:3000");
            
            socket.on('Server-sent-dataTolueno', function(dataTolueno){   
            Plotly.extendTraces('chart3',{ y:[[dataTolueno.items[11]]]}, [0]);
            $(document).ready(function(){
                $("#tolueno").text(dataTolueno.items[11]);
                });
            cnt3++;
            if(cnt3 > 50) {
                Plotly.relayout('chart3',{
                    xaxis: {
                        range: [cnt3-50,cnt3]
                    }
                });
            };
        })
        },2000);
    </script>
</body>
</html>



