<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>Air Monitor Website</h1>
      <p>Tạo 1 tài khoản hoặc đăng nhập</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Đăng Kí</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Đăng Nhập</a>
    </div>
  </div>
</div>
