<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .bg{
      background-image: url("https://elements-cover-images-0.imgix.net/62872f68-7238-431a-a049-c7fa451ab3dc?auto=compress&crop=edges&fit=crop&fm=jpeg&h=630&w=1200&s=9f67bff3b5aacf1f41a2d00c180d0901");
      height: 100vh; 
      position: relative;
      background-position: center;
      background-repeat: no-repeat;

      background-size: cover;
    }
    .text1 {
      position: absolute;
      top: 550px;
      left: 400px;
        }
    .text2 {
      position: absolute;
      top: 600px;
      left: 200px;
    }
  </style>
</head>
<body>
<nav class=" navbar bg-primary navbar-default navbar-fixed-top ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AirMonitor</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/register"><span class="glyphicon glyphicon-user"></span> Đăng kí</a></li>
      <li><a href="users/login"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</a></li>
    </ul>
  </div>
</nav>
 <div class="bg">
  <h3 class="text1">Air Monitoring System</h3>
  <h3 class="text2">Ứng dụng phân tích nồng độ các chất khí trong môi trường</h3>
 </div>
</div>
</body>
</html>